.list-gp {
  border: 1px solid #d55e43;
  /* border: 1px solid white; */
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  /* color: white; */
}

.list-group-hover:hover {
  background-color: #d55e43 !important;
  color: white !important;
  border: none;
}
